name: Build Android APK

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build-apk:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.11

      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y python3-pip build-essential git zip unzip openjdk-11-jdk autoconf libtool pkg-config
          pip install --upgrade pip
          pip install --user buildozer

      - name: Install Python dependencies
        run: |
         pip install --upgrade pip setuptools wheel
         pip install cython buildozer
    
      - name: Accept Android SDK Licenses and Install Build Tools
        run: |
         yes | sdkmanager --licenses || true
         yes | sdkmanager "build-tools;34.0.0" "platforms;android-33" "platform-tools" "ndk;25.1.8937393"

      - name: Build APK
        run: |
          export PATH=$HOME/.local/bin:$PATH
          buildozer android debug

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: WalletHunter-debug.apk
          path: bin/*.apk
